<a href="https://colab.research.google.com/github/yonandaputri/TA_GRNN/blob/master/GRNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#importing libraries
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso

In [9]:
import pandas as pd
df = pd.read_excel("https://github.com/yonandaputri/TA_GRNN/raw/master/realestate.xlsx")
df.head()

   No           X1    X2         X3  X4        X5         X6     Y
0   1  2012.916667  32.0   84.87882  10  24.98298  121.54024  37.9
1   2  2012.916667  19.5  306.59470   9  24.98034  121.53951  42.2
2   3  2013.583333  13.3  561.98450   5  24.98746  121.54391  47.3
3   4  2013.500000  13.3  561.98450   5  24.98746  121.54391  54.8
4   5  2012.833333   5.0  390.56840   5  24.97937  121.54245  43.1

In [10]:
# Preprocessing 
df = df.drop('No', axis = 1)
# df = df.drop('X5', axis = 1)
# df = df.drop('X6', axis = 1)
# df = df.drop('Y', axis = 1)
df = df.round({'X1': 3, 'X2': 1, 'X3': 1})
df.head()

         X1    X2     X3  X4        X5         X6     Y
0  2012.917  32.0   84.9  10  24.98298  121.54024  37.9
1  2012.917  19.5  306.6   9  24.98034  121.53951  42.2
2  2013.583  13.3  562.0   5  24.98746  121.54391  47.3
3  2013.500  13.3  562.0   5  24.98746  121.54391  54.8
4  2012.833   5.0  390.6   5  24.97937  121.54245  43.1